body {
  font-family: 'Montserrat', sans-serif;
}

.section {
  padding-top: 20px;
}

.timer-general {
  padding-top: 36px;
  padding-left: 156px;
}

.input-areal {
  padding-bottom: 32px;
}

#datetime-picker {
  border-radius: 4px;
  width: 272px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background: #f5f5f5;
  border: 1px solid #808080;
  padding: 8px 0px 8px 16px;
  margin-right: 8px;
}

#datetime-picker:hover {
  border: 1px solid #4e75ff;
}

.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4e75ff;
  cursor: pointer;
  border-color: transparent;
}

.btn:hover {
  background: #6c8cff;
}

.btn:disabled {
  background-color: #989898;
}

.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  width: 346px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: calc((100% - 24px * 3) / 4);
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
